<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>data</key>
		<string>山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还几分姿色，让世界变的更加丰富多彩。大自然的景色，让人想变成蝴蝶飞到世界的各个地方去游览一番。好多地方的景色让人留恋忘返。这，就是大自然的神奇。大自然的四季更是让人回味无穷。 
秋天，树枝上的绿叶变成黄色，纷纷落下。给地上铺上了一层金色的地毯，踩上去发出“ 忮忮”的声音。天气漫漫变凉，让人感觉悲凉。街上也变的寂静了。也没有了大自然的生机勃勃。 
冬天，最美的是下雪的时候了，它给大地穿上了新衣服，一眼望去，到处都是白的。像是到了另一个世界。天气虽然冷，但是孩子们还是那样高兴，打雪杖，堆雪人。看到他们。便勾起了我的回忆。我之所以喜欢雪，那是因为雪的纯洁，似乎让人一下子忘掉了所有的烦恼。变的开心了。 
春天，树上长出了嫩绿的新芽，万物从沉睡中苏醒过来。早晨，打开窗户，闻到了雨后的清新，闻到了花儿的幽香，看到了鸟儿在树枝上欢快的歌唱，风儿吹过湖面，泛起层层微波。 

夏天的夜晚是宁静的，到处漆黑一片，但虫声打破了这宁静的夜晚。虫子打起了“交响乐”天空中，出现了一闪一闪的亮星星，看着这美丽的星星，想起了牛郎织女的故事。还有那皎洁的明月，看着这一切，进入了甜美的梦想。 
大自然不光是四季美不胜收，它的景色到处都是那么的美丽。 
来到泰山的顶峰，看到这的景色，真的是好美。伸起手，似乎抓到了云，凉凉的，感觉好舒服。闭上眼，深呼吸，似乎闻到了大自然的气息。望眼看去，那一座座山印入眼帘，是那样的小。那就像是诗人所说“会当凌绝顶，一览众山小。 
来到海边，看着这一望无际的海，吹着和煦的海风，忘掉了许多的烦恼。天空和大海相映，在天空下，人们尽情的冲浪，这时，大海泛起了层层大浪，波涛如怒，发出了”巨大&quot;的响声。海鸥从海上飞过，似乎留下了痕迹。这一切是多么的美好。 
大自然的景色是无法用语言能形容出来的，它的美用心才能去感受。 
希望这大自然的这种美是是永久不灭的。晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还能到补习班读，小学就能读初中的书，初中可以读高中的书，还有那些多竞赛可以参加，真是幸福啊！我眼角挂着泪花，心里美滋滋地睡着了……</string>
	</dict>
	<dict>
		<key>data</key>
		<string>，楞楞地盯着手这个世界是一个五彩缤纷的世界，正是有了大自然的几分姿色，让世界变的更加丰富多彩。大自然的景色，让人想变成蝴蝶飞到世界的各个地方去游览一番。好多地方的景色让人留恋忘返。这，就是大自然的神奇。大自然的四季更是让人回味无穷。 
秋天，树枝上的绿叶变成黄色，纷纷落下。给地上铺上了一层金色的地毯，踩上去发出“ 忮忮”的声音。天气漫漫变凉，让人感觉悲凉。街上也变的寂静了。也没有了大自然的生机勃勃。 
冬天，最美的是下雪的时候了，它给大地穿上了新衣服，一眼望去，到处都是白的。像是到了另一个世界。天气虽然冷，但是孩子们还是那样高兴，打雪杖，堆雪人。看到他们。便勾起了我的回忆。我之所以喜欢雪，那是因为雪的纯洁，似乎让人一下子忘掉了所有的烦恼。变的开心了。 
春天，树上长出了嫩绿的新芽，万物从沉睡中苏醒过来。早晨，打开窗户，闻到了雨后的清新，闻到了花儿的幽香，看到了鸟儿在树枝上欢快的歌唱，风儿吹过湖面，泛起层层微波。 

夏天的夜晚是宁静的，到处漆黑一片，但虫声打破了这宁静的夜晚。虫子打起了“交响乐”天空中，出现了一闪一闪的亮星星，看着这美丽的星星，想起了牛郎织女的故事。还有那皎洁的明月，看着这一切，进入了甜美的梦想。 
大自然不光是四季美不胜收，它的景色到处都是那么的美丽。 
来到泰山的顶峰，看到这的景色，真的是好美。伸起手，似乎抓到了云，凉凉的，感觉好舒服。闭上眼，深呼吸，似乎闻到了大自然的气息。望眼看去，那一座座山印入眼帘，是那样的小。那就像是诗人所说“会当凌绝顶，一览众山小。 
来到海边，看着这一望无际的海，吹着和煦的海风，忘掉了许多的烦恼。天空和大海相映，在天空下，人们尽情的冲浪，这时，大海泛起了层层大浪，波涛如怒，发出了”巨大&quot;的响声。海鸥从海上飞过，似乎留下了痕迹。这一切是多么的美好。 
大自然的景色是无法用语言能形容出来的，它的美用心才能去感受。 
希望这大自然的这种美是是永久不灭的。晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
新芽，万物从沉睡中苏醒过来。早晨，打开窗户，闻到了雨后的清新，闻到了花儿的幽香，看到了鸟儿在树枝上欢快的歌唱，风儿吹过湖面，泛起层层微波。 

夏天的夜晚是宁静的，到处漆黑一片，但虫声打破了这宁静的夜晚。虫子打起了“交响乐”天空中，出现了一闪一闪的亮星星，看着这美丽的星星，想起了牛郎织女的故事。还有那皎洁的明月，看着这一切，进入了甜美的梦想。 
大自然不光是四季美不胜收，它的景色到处都是那么的美丽。 
来到泰山的顶峰，看到这的景色，真的是好美。伸起手，似乎抓到了云，凉凉的，感觉好舒服。闭上眼，深呼吸，似乎闻到了大自然的气息。望眼看去，那一座座山印入眼帘，是那样的小。那就像是诗人所说“会当凌绝顶，一览众山小。 
来到海边，看着这一望无际的海，吹着和煦的海风，忘掉了许多的烦恼。天空和大海相映，在天空下，人们尽情的冲浪，这时，大海泛起了层层大浪，波涛如怒，发出了”巨大&quot;的响声。海鸥从海上飞过，似乎留下了痕迹。这一切是多么的美好。 
大自然的景色是无法用语言能形容出来的，它的美用心才能去感受。 
希望这大自然的这种美是是永久不灭的。晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还能到补习班读，小学就能读初中的书，初中可以读高中的书，还有那些多竞赛可以参加，真是幸福啊！我眼角挂着泪花，心里美滋滋地睡着了……晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还机，心中满是这个世界是一个五彩缤纷的世界，正是有了大自然的几分姿色，让世界变的更加丰富多彩。大自然的景色，让人想变成蝴蝶飞到世界的各个地方去游览一番。好多地方的景色让人留恋忘返。这，就是大自然的神奇。大自然的四季更是让人回味无穷。 
秋天，树枝上的绿叶变成黄色，纷纷落下。给地上铺上了一层金色的地毯，踩上去发出“ 忮忮”的声音。天气漫漫变凉，让人感觉悲凉。街上也变的寂静了。也没有了大自然的生机勃勃。 
冬天，最美的是下雪的时候了，它给大地穿上了新衣服，一眼望去，到处都是白的。像是到了另一个世界。天气虽然冷，但是孩子们还是那样高兴，打雪杖，堆雪人。看到他们。便勾起了我的回忆。我之所以喜欢雪，那是因为雪的纯洁，似乎让人一下子忘掉了所有的烦恼。变的开心了。 
春天，树上长出了嫩绿的新芽，万物从沉睡中苏醒过来。早晨，打开窗户，闻到了雨后的清新，闻到了花儿的幽香，看到了鸟儿在树枝上欢快的歌唱，风儿吹过湖面，泛起层层微波。 

夏天的夜晚是宁静的，到处漆黑一片，但虫声打破了这宁静的夜晚。虫子打起了“交响乐”天空中，出现了一闪一闪的亮星星，看着这美丽的星星，想起了牛郎织女的故事。还有那皎洁的明月，看着这一切，进入了甜美的梦想。 
大自然不光是四季美不胜收，它的景色到处都是那么的美丽。 
来到泰山的顶峰，看到这的景色，真的是好美。伸起手，似乎抓到了云，凉凉的，感觉好舒服。闭上眼，深呼吸，似乎闻到了大自然的气息。望眼看去，那一座座山印入眼帘，是那样的小。那就像是诗人所说“会当凌绝顶，一览众山小。 
来到海边，看着这一望无际的海，吹着和煦的海风，忘掉了许多的烦恼。天空和大海相映，在天空下，人们尽情的冲浪，这时，大海泛起了层层大浪，波涛如怒，发出了”巨大&quot;的响声。海鸥从海上飞过，似乎留下了痕迹。这一切是多么的美好。 
大自然的景色是无法用语言能形容出来的，它的美用心才能去感受。 
希望这大自然的这种美是是永久不灭的。晚</string>
	</dict>
	<dict>
		<key>data</key>
		<string>海边，看着这一望无际的海，吹着和煦的海风，忘掉了许多的烦恼。天空和大海相映，在天空下，人们尽情的冲浪，这时，大海泛起了层层大浪，波涛如怒，发出了”巨大&quot;的响声。海鸥从海上飞过，似乎留下了痕迹。这一切是多么的美好。 
大自然的景色是无法用语言能形容出来的，它的美用心才能去感受。 
希望这大自然的这种美是是永久不灭的。晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
新芽，万物从沉睡中苏醒过来。早晨，打开窗户，闻到了雨后的清新，闻到了花儿的幽香，看到了鸟儿在树枝上欢快的歌唱，风儿吹过湖面，泛起层层微波。 

夏天的夜晚是宁静的，到处漆黑一片，但虫声打破了这宁静的夜晚。虫子打起了“交响乐”天空中，出现了一闪一闪的亮星星，看着这美丽的星星，想起了牛郎织女的故事。还有那皎洁的明月，看着这一切，进入了甜美的梦想。 
大自然不光是四季美不胜收，它的景色到处都是那么的美丽。 
来到泰山的顶峰，看到这的景色，真的是好美。伸起手，似乎抓到了云，凉凉的，感觉好舒服。闭上眼，深呼吸，似乎闻到了大自然的气息。望眼看去，那一座座山印入眼帘，是那样的小。那就像是诗人所说“会当凌绝顶，一览众山小。 
来到海边，看着这一望无际的海，吹着和煦的海风，忘掉了许多的烦恼。天空和大海相映，在天空下，人们尽情的冲浪，这时，大海泛起了层层大浪，波涛如怒，发出了”巨大&quot;的响声。海鸥从海上飞过，似乎留下了痕迹。这一切是多么的美好。 
大自然的景色是无法用语言能形容出来的，它的美用心才能去感受。 
希望这大自然的这种美是是永久不灭的。晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还能到补习班读，小学就能读初中的书，初中可以读高中的书，还有那些多竞赛可以参加，真是幸福啊！我眼角挂着泪花，心里美滋滋地睡着了……晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还机，心中满是这个世界是一个五彩缤纷的世界，正是有了大自然的几分姿色，让世界变的更加丰富多彩。大自然的景色，让人想变成蝴蝶飞到世界的各个地方去游览一番。好多地方的景色让人留恋忘返。这，就是大自然的神奇。大自然的四季更是让人回味无穷。 
秋天，树枝上的绿叶变成黄色，纷纷落下。给地上铺上了一层金色的地毯，踩上去发出“ 忮忮”的声音。天气漫漫变凉，让人感觉悲凉。街上也变的寂静了。也没有了大自然的生机勃勃。 
冬天，最美的是下雪的时候了，它给大地穿上了新衣服，一眼望去，到处都是白的。像是到了另一个世界。天气虽然冷，但是孩子们还是那样高兴，打雪杖，堆雪人。看到他们。便勾起了我的回忆。我之所以喜欢雪，那是因为雪的纯洁，似乎让人一下子忘掉了所有的烦恼。变的开心了。 
春天，树上长出了嫩绿的新芽，万物从沉睡中苏醒过来。早晨，打开窗户，闻到了雨后的清新，闻到了花儿的幽香，看到了鸟儿在树枝上欢快的歌唱，风儿吹过湖面，泛起层层微波。 

夏天的夜晚是宁静的，到处漆黑一片，但虫声打破了这宁静的夜晚。虫子打起了“交响乐”天空中，出现了一闪一闪的亮星星，看着这美丽的星星，想起了牛郎织女的故事。还有那皎洁的明月，看着这一切，进入了甜美的梦想。 
大自然不光是四季美不胜收，它的景色到处都是那么的美丽。 
来到泰山的顶峰，看到这的景色，真的是好美。伸起手，似乎抓到了云，凉凉的，感觉好舒服。闭上眼，深呼吸，似乎闻到了大自然的气息。望眼看去，那一座座山印入眼帘，是那样的小。那就像是诗人所说“会当凌绝顶，一览众山小。 
来到海边，看着这一望无际的海，吹着和煦的海风，忘掉了许多的烦恼。天空和大海相映，在天空下，人们尽情的冲浪，这时，大海泛起了层层大浪，波涛如怒，发出了”巨大&quot;的响声。海鸥从海上飞过，似乎留下了痕迹。这一切是多么的美好。 
大自然的景色是无法用语言能形容出来的，它的美用心才能去感受。 
希望这大自然的这种美是是永久不灭的。晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还能到补习班读，小学就能读初中的书，初中可以读高中的书，还有那些多竞赛可以参加，真是幸福啊！我眼角挂着泪花，心里美滋滋地睡着了……晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还能到补习班读，小学就能读初中的书，初中可以读高中的书，还有那些多竞赛可以参加，真是幸福啊！我眼角挂着泪花，心里美滋滋地睡着了…… 晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还能到补习班读，小学就能读初中的书，初中可以读高中的书，还有那些多竞赛可以参加，真是幸福啊！我眼角挂着泪花，心里美滋滋地睡着了…… dfs 晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
</string>
	</dict>
	<dict>
		<key>data</key>
		<string>梦想领航，青春飞扬这个世界是一个五彩缤纷的世界，正是有了大自然的几分姿色，让世界变的更加丰富多彩。大自然的景色，让人想变成蝴蝶飞到世界的各个地方去游览一番。好多地方的景色让人留恋忘返。这，就是大自然的神奇。大自然的四季更是让人回味无穷。 这个世界是一个五彩缤纷的世界，正是有了大自然的几分姿色，让世界变的更加丰富多彩。大自然的景色，让人想变成蝴蝶飞到世界的各个地方去游览一番。好多地方的景色让人留恋忘返。这，就是大自然的神奇。大自然的四季更是让人回味无穷。 
秋天，树枝上的绿叶变成黄色，纷纷落下。给地上铺上了一层金色的地毯，踩上去发出“ 忮忮”的声音。天气漫漫变凉，让人感觉悲凉。街上也变的寂静了。也没有了大自然的生机勃勃。 
冬天，最美的是下雪的时候了，它给大地穿上了新衣服，一眼望去，到处都是白的。像是到了另一个世界。天气虽然冷，但是孩子们还是那样高兴，打雪杖，堆雪人。看到他们。便勾起了我的回忆。我之所以喜欢雪，那是因为雪的纯洁，似乎让人一下子忘掉了所有的烦恼。变的开心了。 
春天，树上长出了嫩绿的新芽，万物从沉睡中苏醒过来。早晨，打开窗户，闻到了雨后的清新，闻到了花儿的幽香，看到了鸟儿在树枝上欢快的歌唱，风儿吹过湖面，泛起层层微波。 

夏天的夜晚是宁静的，到处漆黑一片，但虫声打破了这宁静的夜晚。虫子打起了“交响乐”天空中，出现了一闪一闪的亮星星，看着这美丽的星星，想起了牛郎织女的故事。还有那皎洁的明月，看着这一切，进入了甜美的梦想。 
大自然不光是四季美不胜收，它的景色到处都是那么的美丽。 
来到泰山的顶峰，看到这的景色，真的是好美。伸起手，似乎抓到了云，凉凉的，感觉好舒服。闭上眼，深呼吸，似乎闻到了大自然的气息。望眼看去，那一座座山印入眼帘，是那样的小。那就像是诗人所说“会当凌绝顶，一览众山小。 
来到海边，看着这一望无际的海，吹着和煦的海风，忘掉了许多的烦恼。天空和大海相映，在天空下，人们尽情的冲浪，这时，大海泛起了层层大浪，波涛如怒，发出了”巨大&quot;的响声。海鸥从海上飞过，似乎留下了痕迹。这一切是多么的美好。 
大自然的景色是无法用语言能形容出来的，它的美用心才能去感受。 
希望这大自然的这种美是是永久不灭的。晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还这个世界是一个五彩缤纷的世界，正是有了大自然的几分姿色，让世界变的更加丰富多彩。大自然的景色，让人想变成蝴蝶飞到世界的各个地方去游览一番。好多地方的景色让人留恋忘返。这，就是大自然的神奇。大自然的四季更是让人回味无穷。 
秋天，树枝上的绿叶变成黄色，纷纷落下。海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还这个世界是一个五彩缤纷的世界，正是有了大自然的几分姿色，让世界变的更加丰富多彩。大自然的景色，让人想变成蝴蝶飞到世界的各个地方去游览一番。好多地方的景色让人留恋忘返。这，就是大自然的神奇。大自然的四季更是让人回味无穷。 
秋天，树枝上的绿叶变成黄色，纷纷落下。给地上铺上了一层金色的地毯，踩上去发出“ 忮忮”的声音。天气漫漫变凉，让人感觉悲凉。街上也变的寂静了。也没有了大自然的生机勃勃。 
冬天，最美的是下雪的时候了，它给大地穿上了新衣服，一眼望去，到处都是白的。像是到了另一个世界。天气虽然冷，但是孩子们还是那样高兴，打雪杖，堆雪人。看到他们。便勾起了我的回忆。我之所以喜欢雪，那是因为雪的纯洁，似乎让人一下子忘掉了所有的烦恼。变的开心了。 
春天，树上长出了嫩绿的新芽，万物从沉睡中苏醒过来。早晨，打开窗户，闻到了雨后的清新，闻到了花儿的幽香，看到了鸟儿在树枝上欢快的歌唱，风儿吹过湖面，泛起层层微波。 

夏天的夜晚是宁静的，到处漆黑一片，但虫声打破了这宁静的夜晚。虫子打起了“交响乐”天空中，出现了一闪一闪的亮星星，看着这美丽的星星，想起了牛郎织女的故事。还有那皎洁的明月，看着这一切，进入了甜美的梦想。 
大自然不光是四季美不胜收，它来的，它的美用心才能去感受。 
希望这大自然的这种美是是永久不灭的。晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还能到补习班读，小学就能读初中的书，初中可以读高中的书，还有那些多竞赛可以参加，真是幸福啊！我眼角挂着泪花，心里美滋滋地睡着了……晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“长着一种花，这种花很奇特，一百年才开一次，可花期只有短短的二个月，花期过后，它便枯萎而死。 
当我知道这种花时，对生命的感动盈满心间。 
在漫长的一百年里，它默默积蓄绽放整整等待了一个世纪。 
而对于青春奋发的我们，是否能得到一些启示呢？ 
我们就像高原上的未绽放的普雅花，也在等待青春的绽放！ 
所以，我们也要给自己一个梦想，一个绽放的梦想。拥有梦想是我们每个人都有的权利。 
当你拥有梦想时，你就会拥有力量。当面对挫折时，我们会坚定地说：“怕什么，我一定可以挺过。因为我还有梦想”；当面对伤害时，我们会勇敢地说：“怕什么，伤害可以让我变得更加坚强！” 
给自己一个梦想，让青春飞扬！我们都是梦想的孩子，我们都在青春里飞扬！ 
青春，应该是这样的，敢挑战，求上进，有激情，而不是上课时睡觉，下课时上网，对学业不关心，沉迷于游戏。青春的我们应该敢拼敢搏，而不是像一个永远长不大的小孩一样，处处依赖父母。青春的我们，应该去学会成长，学会坚强。 
败了，可以再站起来，输了，还有再赢的机会， 可我们什么都可以输得起，唯一输不起的就是我们的青春。我想我们每个人都不愿意自己的青春像白开水一样，清淡无味；不愿意自己的青春像沙漠一样荒芜；不愿望埋没自己的才能。 
如果你不愿意，那么，请给自己一个梦想，然后努力去拼吧！ 
让梦想点缀我们的青春，让梦想使飞翔的羽翼充满力量。 
花谢了，还有重开的时候；日落了，还有重升的时候；可是，青春荒芜了，就再也没有重头再来的时候了，所以，我们要珍惜现在的机会，现在的青春，现在的美好时光，我们要像那高原上的普雅花一样，在青春绽放时永不放弃自己的梦想，待到成功的季节来临时，向世界尽情展示自己所有的美丽。
那么现在，让梦想领航青春，让我们的青春飞扬！晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整心</string>
	</dict>
	<dict>
		<key>data</key>
		<string>这大地穿上了新衣服，一眼望去，到处都是白的。像是到了另一个世界。天气虽然冷，但是孩子们还是那样高兴，打雪杖，堆雪人。看到他们。便勾起了我的回忆。我之所以喜欢雪，那是因为雪的纯洁，似乎让人一下子忘掉了所有的烦恼。变的开心了。 
春天，树上长出了嫩绿的新芽，万物从沉睡中苏醒过来。早晨，打开窗户，闻到了雨后的清新，闻到了花儿的幽香，看到了鸟儿在树枝上欢快的歌唱，风儿吹过湖面，泛起层层微波。 

夏天的夜晚是宁静的，到处漆黑一片，但虫声打破了这宁静的夜晚。虫子打起了“交响乐”天空中，出现了一闪一闪的亮星星，看着这美丽的星星，想起了牛郎织女的故事。还有那皎洁的明月，看着这一切，进入了甜美的梦想。 
大自然不光是四季美不胜收，它的景色到处都是那么的美丽。 
来到泰山的顶峰，看到这的景色，真的是好美。伸起手，似乎抓到了云，凉凉的，感觉好舒服。闭上眼，深呼吸，似乎闻到了大自然的气息。望眼看去，那一座座山印入眼帘，是那样的小。那就像是诗人所说“会当凌绝顶，一览众山小。 
来到海边，看着这一望无际的海，吹着和煦的海风，忘掉了许多的烦恼。天空和大海相映，在天空下，人们尽情的冲浪，这时，大海泛起了层层大浪，波涛如怒，发出了”巨大&quot;的响声。海鸥从海上飞过，似乎留下了痕迹。这一切是多么的美好。 
大自然的景色是无法用语言能形容出来的，它的美用心才能去感受。 
希望这大自然的这种美是是永久不灭的。晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还能到补习班读，小学就能读初中的书，初中可以读高中的书，还有那些多竞赛可以参加，真是幸福啊！我眼角挂着泪花，心里美滋滋地睡着了……晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还这个世界是一个五彩缤纷的世界，正是有了大自然的几分姿色，让世界变的更加丰富多彩。大自然的景色，让人想变成蝴蝶飞到世界的各个地方去游览一番。好多地方的景色让人留恋忘返。这，就是大自然的神奇。大自然的四季更是让人回味无穷。 
秋天，树枝上的绿叶变成黄色，纷纷落下。给地上铺上了一层金色的地毯，踩上去发出“ 忮忮”的声音。天气漫漫变凉，让人感觉悲凉。街上也变的寂静了。也没有了大自然的生机勃勃。 
冬天，最美的是下雪的时候了，它给大地穿上了新衣服，一眼望去，到处都是白的。像是到了另一个世界。天气虽然冷，但是孩子们还是那样高兴，打雪杖，堆雪人。看到他们。便勾起了我的回忆。我之所以喜欢雪，那是因为雪的纯洁，似乎让人一下子忘掉了所有的烦恼。变的开心了。 
春天，树上长出了嫩绿的新芽，万物从沉睡中苏醒过来。早晨，打开窗户，闻到了雨后的清新，闻到了花儿的幽香，看到了鸟儿在树枝上欢快的歌唱，风儿吹过湖面，泛起层层微波。 

夏天的夜晚是宁静的，到处漆黑一片，但虫声打破了这宁静的夜晚。虫子打起了“交响乐”天空中，出现了一闪一闪的亮星星，看着这美丽的星星，想起了牛郎织女的故事。还有那皎洁的明月，看着这一切，进入了甜美的梦想。 
大自然不光是四季美不胜收，它的景色到处都少贴感受。 
希望这大自然的这种美是是永久不灭的。晚深了，默地坐在书桌前，楞楞地盯着手机，心中满是忐忑。离校前的那一天，同学李衙内许诺会在今晚给我发一条短信，为了这短信，我将我的初吻潜规则了…… 
手机颤抖着，一道微光闪起，心中狂跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我跳，急切地抓过手机，果然是李衙内的短信！读着短信，那一刻，悲从中来，不可断绝，忍不住放声恸哭。 
“怎么了”、“怎么了”，一连串急切的关心声中，爸爸、妈妈、爷爷、奶奶都挤进了我的小屋。“坑爹啊~~~”，我把手机递给爸爸，抽泣着说：“十年寒窗，我起得比鸡早，睡得比鬼晚，干得比牛多，要我写心里苦巴巴的，心里怨深深的，我都能写，可偏偏要写什么心里美滋滋的，这不是坑人嘛，我就是想编也编不出来啊……” 
看着短信，爸爸笑了，“多好的题目啊”，“好什么啊，让我怎么写啊！”带着哭腔，我争辩着。摸了摸我的头，爸爸说：“孩子啊，你真是生在新社会，长在红旗下，蜜水里泡大的，身在福中不知福啊！你看看现在国外，到处是经济危机啊，希腊危机、西班牙危机、意大利危机，那里的人民，都生活在水深火热之中。而我们呢，国家经济发展，人民收入稳定，爸爸的工资，十几年都没变过，想起这点，爸爸心里别提有多么美滋滋的呢！” 
妈妈也笑着说，“是啊，孩子，你整天那么题山题海地写作业，对社会的美好太不了解了。其实，那几年看着你长大，妈妈一方面为你高兴，另一方面也感到自己要人近中年了，心里很是不自在的。最近有关部门说，要将退休年龄提高到65-68岁，妈妈那个高兴啊，感觉自己一下又变成小青年了，想到60岁时还能被称为中青年，妈妈梦里都笑出声啊，心里美滋滋的。” 
爷爷咳着说，“小丫头，我还以为什么事呢，这个题目多少贴近生活啊，怎么说不好写呢。就说爷爷吧，退休那么多年了，看着国家经济发展，感觉自己年老多病的，除了每天晨练时用爷爷的老肺帮着净化些空气，就不能为国家建设再贡献什么力量，心里着急啊！这下好了，有关部门说要征收房产税了，爷爷又可以用自己微薄的退休金为国家争当世界第一大经济体的宏伟目标贡献更多税收，感觉自豪啊，心里美滋滋的。” 
奶奶用纸巾帮我擦去泪珠，搂着我说，“这孩子，读书有什么苦的呢！奶奶小时候家里穷，不能读书，可羡慕那些有书读的娃呢。现在奶奶每天在家里给你们准备一日三餐，也学了不少知识呢，像什么黄曲霉素豆奶、盐酸克伦特罗猪肉、苯钾酰馒头、二恶英鸡蛋、三聚氰氨牛奶、硫磷大蒜、蓝矾黄瓜、甲醛白菜、汞蘑菇、福尔马林牛百叶、二氧化硫金针菇、溴酸钾小馒头、次硫酸氢钠甲醛粉条、苏丹红咸鸭蛋、孔雀绿茶叶，还有好多好多呢！奶奶看那个《舌尖上的中国》，里面好多吃的哟，肯定一定还有很多奶奶不知道的化学知识，奶奶准备吃到老学到老，想到老了老了，还能当个化学家，奶奶心里别提有多美滋滋的呢。” 
听着爸爸、妈妈、爷爷、奶奶的劝导，我心情也大好起来，便对他们说：“我知道怎么写了，你们也早点关灯休息吧。有关部门为了帮助我们重视环保，正准备出台电价新政呢，我们也要自觉参加到环保活动中去啊。” 
黑暗中，想到自己不仅可以在学校读，还能到补习班读，小学就能读初中的书，初中可以读高中的书，还有那些多竞赛可以参加，真是幸福啊！我眼角挂着泪花，心里美滋滋地睡着了……</string>
	</dict>
</array>
</plist>
